<% unless @feed_items.empty? %>
  <table id="HistoryFrame">
  	<tr><td colspan="3">
  		
  		  <%= will_paginate @feed_items %>

  	</td></tr>
    <%= render :partial => 'shared/feed_admin_data', :collection => @feed_items %>
  </table>
<% end %>