


<% unless @feedpubic_items.empty? %>
  <table id="HistoryFrame">
  	<tr><td colspan="3">
  		
  		  <%= will_paginate @feedpubic_items %>

  	</td></tr>
    <%= render :partial => 'shared/feed_item', :collection => @feedpubic_items %>
  </table>
<% end %>