<% if signed_in? %>

<div id="CurrentVotingTitle">Current Question
<div>
<div id="CurrentVotingOptions">
	
	<%= render 'shared/idea_form' %>
        
	</div>
	</div>
	
	
	
	
<div id="HistoryFrame">
<div id="HistoryTitle" >Past questions</div>

<div id="HistoryContent">
	  <% if current_user.admin? %>

        			<%= render 'shared/feed_admin' %>
			<% else %>
            <%= render 'shared/feed' %>
        
        
        <%end if%>
	</div>

</div>


<% else %>
  <h1>Let your voice be heard</h1>



  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>