<div id="pageheader">
	
<div id="pageheadertitle">
We The Students
</div>

<div id="loginbox">
	
	<% if signed_in? %>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= link_to "Sign out", signout_path, :method => :delete%></td>
  </tr>
</table>

	<%else%>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>Email</td>
    <td><input name="email" type="text"></td>
    <td>Password</td>
    <td><input name="password" type="text"></td>
    <td><input name="submit" type="button" value="Login"></td>
  </tr>
</table>

<%end%>
</div>

</div>


