<div id="pageheader">
	
<div id="pageheadertitle">
We The Students
</div>

<div id="loginbox">
	
	<% if signed_in? %>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td></td>
    <td></td>
       <td><%= link_to "Settings", edit_user_path(current_user)%></td>

    <td></td>
    <td><%= link_to "Sign out", signout_path, :method => :delete%></td>
  </tr>
</table>

	<%else%>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  	    <td>  </td>
    <td>  </td>
    <td>  </td>

    <td><%= link_to "Sign in", signin_path%></td>
   
  </tr>
</table>

<%end%>
</div>

</div>


