<div id="pageheader">
	
<div id="pageheadertitle">
	<a href="http://localhost:3000">
We The Students
</a>
</div>

<div id="loginbox">
	
	<% if signed_in? %>
	
  

   <%= link_to "Sign out", signout_path, :method => :delete%>

	<%else%>
<%= link_to "Sign in", signin_path%>

<%end%>
</div>

</div>


