<div id="frame">
<div id="Navheader"><br>
<span id="JumpList"><%= link_to "about", about_path %></span>
<span id="JumpList"><%= link_to "contact", '#'%></span>
<span id="JumpList"> <%= link_to "help", '#'%></span>
</div>