<div id="frame">
<div id="Navheader"><br>
<span id="JumpList"><%= link_to "about", '#'%></span>
<span id="JumpList"><%= linkto "contact", '#'%></span>
<span id="JumpList"> <%= linkto "help", '#'%></span>
</div>